<h2>
  How your course recommendations were developed
</h2>
<hr>

<p>

  <h4>
    I. Why do we need a course recommender?
  </h4>

  We'll explore how recommendations are created but first let's explore why it's important. Between 2008 and 2016 35 new unique courses were added to Booth's curriculum. Given that only 20 courses are needed to complete the MBA this implies a student could complete 1.75 MBAs with just the new courses added. These new courses are on top of the roughly 230 already on offer. Put simply, Booth MBA students suffer from the tyranny of choice and, as a result, face increased course search costs. Thus the need for a course recommender.
</p>
<hr>
<h4>
  II. How we develop recommendations
</h4>

<p>
  Using three standard algorithms we create recommendations for you. First, we use a combination of
  <a href="https://en.wikipedia.org/wiki/K-means_clustering">
    k-means
  </a>
  and
  <a href="https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm">
    KNN
  </a>
  to develop first-quarter recommendations based on previous demographic information. Then, we use
  <a href="https://en.wikipedia.org/wiki/Collaborative_filtering">
    user-based-collaborative-filtering
  </a>
  to recommend courses after a student's first-quarter (i.e. after we have some course history on each student).
</p>
<hr>
<h4>
  III. How are the personal ratings used?
</h4>

<p>

  Getting your personal rating ona given course helps refine the collabortive filtering algorithm to ensure that you are receiving as high quality recommendations as possible. These are kept private and are not accessible by anyone except you. In a beta test we performed we were able to recommend courses that improved student outcomes by 5% on average in a test sample of 45 first and second year students.

</p>
<hr>
<h4>
  IV. What now?
</h4>

<p>
  This was created as a final project for Digital and Algorithmic Marketing and our group is working with Booth's administration to get this implemented.

</p>
